
    .button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 20px;
        cursor: pointer;
        margin-right:8px;


    }
    .button:hover{
        background-color: rgb(236, 52, 52);


    }
    .join:hover{
        background-color: rgb(56, 95, 212);
        color: rgb(255, 255, 255);
    }

    .join {
        background-color: white;
        color: blue;
        
        cursor: pointer;
        height: 36px;
        width: 60px;
        border-color: rgb(52, 52, 202);
        border-style: solid ;
        border-radius: 2px;
        margin-right:8px;
   
    }
    .tweet{
        background-color: rgb(60, 60, 251);
        color:white;
        cursor: pointer;
        height: 36px;
        width:70px;
        border-radius: 20px;
        border:none;
    }
    .amazon{
        background-color: rgb(255,216, 20);
        color:black;
        cursor:pointer;
        height:36px;
        width: 125px;
        border-radius: 25px;
        border:none;

    }
    .github{
        background-color: rgb(46,164, 79);
        color:white;
        cursor:pointer;
        height:36px;
        width: 66px;
        border-radius: 2px;
        border:none;

    }
    
    .github:hover{
        background-color:rgb(130, 187, 44);

    }

    .amazon:hover{
        background-color: rgb(254, 254, 82);
    }